<ul class="nav nav-tabs">
     <li class="nav-item"> <a class="nav-link" routerLinkActive="actif" [routerLink]="['/acceuil']">Accueil</a> </li>
     <li class="nav-item"> <a class="nav-link" routerLinkActive="actif" [routerLink]=" ['/produits']">Produits</a> </li>
     <li class="nav-item"> <a class="nav-link" routerLinkActive="actif" [routerLink]="['/add-produit']">Ajouter Produits</a> </li>
     <li class="nav-item"> <a class="nav-link" routerLinkActive="actif" [routerLink]="['/contact']">Contact</a> </li>
 </ul>
